[submodule "xmonad/BinarySpacePartition"]
	path = xmonad/BinarySpacePartition
	url = https://github.com/incertia/BinarySpacePartition.git
[submodule "xmonad/xmonad-equalspacing"]
	path = xmonad/xmonad-equalspacing
	url = https://github.com/incertia/xmonad-equalspacing.git
[submodule "powerline"]
	path = powerline
  branch = develop
	url = https://github.com/powerline/powerline.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/powerline-fonts.git
[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
