[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
  branch = master
[submodule "vim/bundle/presenting.vim"]
	path = vim/bundle/presenting.vim
	url = https://github.com/sotte/presenting.vim.git
  branch = master
[submodule "vim/bundle/YCM-Generator"]
	path = vim/bundle/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
  branch = stable
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
  branch = master
[submodule "xmonad/BinarySpacePartition"]
	path = xmonad/BinarySpacePartition
	url = https://github.com/incertia/BinarySpacePartition.git
[submodule "xmonad/xmonad-equalspacing"]
	path = xmonad/xmonad-equalspacing
	url = https://github.com/incertia/xmonad-equalspacing.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/powerline-fonts.git
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-windowswap"]
	path = vim/bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/ghcmod-vim"]
	path = vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/neco-ghc"]
	path = vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-haskell-indent"]
	path = vim/bundle/00-vim-haskell-indent
	url = https://github.com/itchyny/vim-haskell-indent.git
[submodule "vim/bundle/haskell-vim"]
	path = vim/bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
	branch = master
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	branch = master
[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
