[submodule "vim/vimacs"]
	path = vim/vimacs
	url = https://github.com/andrep/vimacs.git
[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/presenting.vim"]
	path = vim/bundle/presenting.vim
	url = https://github.com/sotte/presenting.vim.git
